= render partial: 'layouts/navigation'

#list-title-bar
  .center-container
    %h1 Lists

  = link_to '#', id: 'menu-btn' do
    = image_tag('menu.svg')

.center-container.list-grid
  - @lists.each do |list|
    = link_to list_path(list) do
      .list
        = list.name

  = link_to new_list_path, class: "new-list-link" do
    .list
      New list...
