!!!
%html
  %head
    %title Open GTD
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %script{:src => "https://code.jquery.com/ui/1.12.1/jquery-ui.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"}

  %body
    -#- if notice
    -#  %p.notice
    -#    = notice
    -#- if alert
    -#  %p.alert
    -#    = alert
    = yield
